@{
    ViewData["Title"] = "Información Escuela";
}

<div class="text-center">
    <h1 class="display-4">Escuela: </h1>
    <h2>Nombre: @Model.Nombre</h2>
    <p><strong>Año Fundación: @Model.AñoFundación</strong></p>
</div>
